/*!
 * Start Bootstrap - Heroic Features HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    padding-top: 4px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

/*.hero-spacer {
    margin-top: 50px;
}*/
/*
.hero-feature {
    margin-bottom: 30px;
}*/

footer {
    margin: 4px 0;
}