/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 10px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-20px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-20px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 10px;
    background-color: #607D8B;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 10px;
    background-color: #607D8B;
    color: white;
}

.fare {
    color: white;
	text-align:center;
    font-size: 14px;
    font-weight: bold;
}

.nocabborder {
   border-radius: 15px;
   border: 2px solid white;
   padding: 5px 15px 5px 15px; 
   width: 100px;
   height: 75px;
   #pointer-events: none; 
   #opacity: 0.5;   
}

.eta {
	color: white;
	text-align:center;
    font-size: 16px;
    font-weight: bold;
}
.cabtype {
	color: white;
	text-align:center;
    font-size: 16px;
    font-weight: bold;
}


@media only screen and (min-width: 600px) {
    /* For tablets: */
.fare {
    color: white;
	text-align:center;
    font-size: 20px;
    font-weight: bold;
}
.eta {
	color: white;
	text-align:center;
    font-size: 18px;
    font-weight: bold;
}
 .cabtype {
	color: white;
	text-align:center;
    font-size: 18px;
    font-weight: bold;
}
 
 }
